<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="assets/css/theme.css" />
    </head>
    <body>
        <div class="container pt-5" id="app" v-cloak>
            <div class="card center">
                <h2>{{ title }}: {{ counter }}</h2>
                <div>
                    <button class="btn primary" @click="counter++">+</button>
                    <button class="btn danger" @click="counter--">-</button>
                </div>
            </div>
            <div class="card">
                <h2 :style="{
                    color: inputValue.length < 5 ? 'darkred' : 'darkblue',
                    fontSize:  inputValue.length < 6 ? '2rem' : '1.5rem'
                }">{{ recordsTitle }}</h2>
                <div class="form-control">
                    <input
                        type="text"
                        :placeholder="placeholderString"
                        v-model="inputValue"
                        @keypress.enter="addNote"
                    />
                </div>
                <button class="btn" @click="addNote">Add</button>
                <hr />
                <ul class="list" v-if="notes.length !== 0">
                    <li class="list-item" v-for="(note, i) in notes">
<!--                        <span :class="note.length > 5 ? 'primary' : 'bold'">{{ toUpperCase(note) }}</span>-->

<!--                        <span :class="{-->
<!--                            'primary': true,-->
<!--                            'bold': note.length > 5-->
<!--                        }">{{ toUpperCase(note) }}</span>-->

                        <span :class="['bold', {'primary': note.length > 5}]">{{ toUpperCase(note) }}</span>
                        <button class="btn danger" @click="removeNote(i, $event)">x</button>
                    </li>
                    <hr />
                    <li>Total: {{ notes.length }} | Double: {{ doubleCount }}</li>
                </ul>
                <div v-else>Notes list is empty. Add first.</div>
            </div>
        </div>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>